<div
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
  (click)="closeModal()"
  *ngIf="isVisible"
>
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full relative">
    <h2 class="text-xl font-bold mb-4">Mascotas</h2>
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2">Nombre</th>
          <th class="border border-gray-300 px-4 py-2">Edad</th>
          <th class="border border-gray-300 px-4 py-2">Tamaño</th>
          <th class="border border-gray-300 px-4 py-2">Medicado</th>
        </tr>
      </thead>
      <tbody>
        @for (pet of pets; track pet.id;) {
        <tr class="hover:bg-gray-100">
          <td class="border border-gray-300 px-4 py-2">{{ pet.name }}</td>
          <td class="border border-gray-300 px-4 py-2">
            {{ calculatePetAge(pet.dateOfBirth) }}
          </td>
          <td class="border border-gray-300 px-4 py-2">
            {{ pet.breedSize.name }}
          </td>
          <td class="border border-gray-300 px-4 py-2">
            {{ pet.isMedicated ? "Si" : "No" }}
          </td>
        </tr>
        }
      </tbody>
    </table>
    <button
      class="mt-4 px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</div>
